{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="center">
        <h1>Sign Up</h1>

        {{ form_start(registrationForm) }}
            <div class="text-field">
                {{ form_widget(registrationForm.username) }}
                <span></span>
                {{ form_label(registrationForm.username, 'Username') }}
            </div>

            
            <div class="text-field">
                {{ form_widget(registrationForm.email) }}
                <span></span>
                {{ form_label(registrationForm.email, 'Email') }}
            </div>
            
            <div class="text-field">
                {{ form_widget(registrationForm.plainPassword) }}
                <span></span>
                {{ form_label(registrationForm.email, 'Password') }}
            </div>

            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'agreementTerms'}}) }}

            <button type="submit" class="signin-btn">Sign Up</button>
            <div class="login-link">
                Already a member? <a href="{{path('app_login')}}">Login</a>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
{% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('app') }}
{% endblock %}
